<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 根节点必须是 mapper，namespace 指向你的 Java 接口全限定名 -->
<mapper namespace="com.system.mapper.SysPermissionMapper">
    <!--sys_user_role (用户-角色关联)
           ↓ (通过 role_id)
    sys_role_permission (角色-权限关联)
           ↓ (通过 permission_id)
    sys_permission (权限表) → 取出 permission_key-->
    <select id="selectUserPermissionKeys" resultType="java.lang.String">
        SELECT DISTINCT p.permission_key
        FROM sys_permission p
                 INNER JOIN sys_role_permission rp ON p.id = rp.permission_id
                 INNER JOIN sys_user_role ur ON rp.role_id = ur.role_id
                 INNER JOIN sys_role r ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
          AND p.delete_flag = 0
          AND p.status = 1
          AND p.permission_key IS NOT NULL
          AND p.permission_key != ''
          AND r.delete_flag = 0
          AND r.status = 1
    </select>

    <select id="countRolePermissionByPermissionId" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM sys_role_permission
        WHERE permission_id = #{permissionId}
    </select>

    <select id="selectPermissionsByRoleId" resultType="com.system.entity.SysPermission">
        SELECT DISTINCT p.id,
                        p.parent_id,
                        p.name,
                        p.menu_path,
                        p.permission_key,
                        p.type,
                        p.sort,
                        p.create_time,
                        p.update_time,
                        p.delete_flag,
                        p.icon,
                        p.component,
                        p.visible,
                        p.status,
                        p.redirect,
                        p.is_cache,
                        p.is_frame,
                        p.remark
        FROM sys_permission p
                 INNER JOIN sys_role_permission rp ON p.id = rp.permission_id
        WHERE rp.role_id = #{roleId}
          AND p.delete_flag = 0
        ORDER BY p.parent_id ASC, p.sort ASC, p.id ASC
    </select>

    <select id="selectCurrentUserMenus" resultType="com.system.entity.SysPermission">
        SELECT DISTINCT p.id,
                        p.parent_id,
                        p.name,
                        p.menu_path,
                        p.permission_key,
                        p.type,
                        p.sort,
                        p.create_time,
                        p.update_time,
                        p.delete_flag,
                        p.icon,
                        p.component,
                        p.visible,
                        p.status,
                        p.redirect,
                        p.is_cache,
                        p.is_frame,
                        p.remark
        FROM sys_permission p
                 INNER JOIN sys_role_permission rp ON p.id = rp.permission_id
                 INNER JOIN sys_user_role ur ON rp.role_id = ur.role_id
                 INNER JOIN sys_role r ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
          AND p.delete_flag = 0
          AND p.status = 1
          AND p.visible = 1
          AND p.type IN (1, 2)
          AND r.delete_flag = 0
          AND r.status = 1
        ORDER BY p.parent_id ASC, p.sort ASC, p.id ASC
    </select>
</mapper>
